# First Lecture

### Basic Objects

In [8]:
# iterators

# note: vectors are indexed starting from 1, not 0
1:10
1:20

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [10]:
# you can also do this backwards
9:5

[1] 9 8 7 6 5

In [17]:
# built-in sequence function
seq(from = 2, to = 6, by = 0.4)
# other example
seq(from = -1, to = 1, by = 0.4)

 [1] 2.0 2.4 2.8 3.2 3.6 4.0 4.4 4.8 5.2 5.6 6.0

[1] -1.0 -0.6 -0.2  0.2  0.6  1.0

In [18]:
# vectors with the same number
rep(-1:3, length.out = 10)

 [1] -1  0  1  2  3 -1  0  1  2  3

Vectors work differently in R compared to Python, so keep that in mind.

For the purpose of this module, ensure that your code is readable. Prioritise readability over efficiency.

In [20]:
# note that this works before 10 is divisible by 2
1:10*c(-1,1)

 [1] -1  2 -3  4 -5  6 -7  8 -9 10

Often times a warning in R is an error in another language.

In R you can use vectors to extract data from other vectors.

In [22]:
# how to index the last element in python

x <- 1:10

# you need to index based on the last value of the variable
x[length(x)]

[1] 10

In [23]:
# you can also perform boolean operation

x > 4

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [24]:
# boolean masks in R

x[x>4]

[1]  5  6  7  8  9 10

In [25]:
# how to remove elements from vectors 
# here we remove the 5th element
x[-5]

[1]  1  2  3  4  6  7  8  9 10

In [29]:
# and operator
x[x > 5 & x <  9]

[1] 6 7 8

In [31]:
# negation of statements

!(x>5)

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

In [35]:
# character vectors (useful when you wanna produce plots)

y <- c("Hello", "Wassup", "Lovely to meet you", 42)
y

[1] "Hello"              "Wassup"             "Lovely to meet you"
[4] "42"

In [38]:
# matrix generation
# Note: concatenation only works through matrices

matrix(1:12, nrow = 3, ncol = 4)

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [40]:
# R repeats elements as many times as needed if there are fewer elements than rows or columns
matrix(1:3, nrow = 3, ncol = 4)

     [,1] [,2] [,3] [,4]
[1,] 1    1    1    1
[2,] 2    2    2    2
[3,] 3    3    3    3

In [42]:
# diagonal matrices 

diag(1:3)

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    2    0
[3,] 0    0    3

In [43]:
# how to do matrix products (outer products) in R
# the standard * is element-wise product
1:5 %o% 1:5

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     2    3    4    5
[2,] 2     4    6    8   10
[3,] 3     6    9   12   15
[4,] 4     8   12   16   20
[5,] 5    10   15   20   25

outer() allows us to compute the outer product, or, alternatively, for matrix multiplication, you can use %*%.

To compute determinants use det()

solve() solves linear systems; if you don't input a second argument it computes the inverse.

Note that empty indices give nothing, and that blank indices give everything.

x[:None] is Python is the same as x[, drop =F] in R.


cbind() adds a column to your matrix, while rbind() adds a row to your matrix.

Subsetting lists requires double square brackets.

You can also give names to the elements of list and then index using "$".

# Second Lecture

### Functions

Use the "help" panel in RStudio to get more detailed information about the functions you want to use.

Most of the time in the module we'll be creating functions from scratch.

In [5]:
# basic example on how to define a function
square2 = function(x){
    x^2
}

In [6]:
square2(4)

[1] 16

Ideally for functions that have already been implemented, use the built-in commands.

In [10]:
mean2 <- function(x){
    n <- length(x)
    
    sum(x)/n
}

In [11]:
mean2(1:10)

[1] 5.5

In [17]:
# for loop
factorial2 <- function(n){
    out <- 1
    
    for(i in 1:n){
        out<-out*i
    }
    
    out}

In [19]:
factorial2(4)

[1] 24

In [21]:
for (i in 1:4){
    print(i)
    }

[1] 1
[1] 2
[1] 3
[1] 4

In [26]:
n <- 50

seq_len(n)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [27]:
# if clause

abs2 <- function(x){
    if (x < 0) out = -x
    else out = x
    out
}

In [31]:
abs2(-345)

[1] 345

In [36]:
print(ifelse(TRUE, 94, "hello"))
print(ifelse(FALSE, 94, "hello"))

[1] 94
[1] "hello"

In [39]:
isPrime = function(n){
    i <- 2
    if (n < 2) return(FALSE)
    while (i < sqrt(n)){
        if (n %% i == 0) return(FALSE)
        i=i+1
    }
    return(TRUE)
}

In [40]:
isPrime(5)

[1] TRUE

The professor also introduced recursion and briefly talked about scoping.

With MonteCarlo simulation we'll want to validate at least visually what we can do.